meta(charset='UTF-8')
link(rel='stylesheet', href='css/main.css')
script(type='text/javascript', src='js/lib.min.js')
script(type='text/javascript', src='vendor/bootstrap-sass/assets/javascripts/bootstrap.min.js')
script(type='text/javascript', src='js/main.js')
meta(name='viewport', content='width=device-width, initial-scale=1')