ul.social-list
    li
        a.btn.btn-block.btn-social.btn-vk.btn-flat(href='#')
            i.fa.fa-vk
    li
        a.btn.btn-block.btn-social.btn-ok.btn-flat(href='#')
            i.fa.fa-odnoklassniki
    li
        a.btn.btn-block.btn-social.btn-facebook.btn-flat(href='#')
            i.fa.fa-facebook
    li
        a.btn.btn-block.btn-social.btn-google-plus.btn-flat(href='#')
            i.fa.fa-google-plus