.category {
  padding: 0 15px 5px;
  margin-bottom: 20px;
  &-title {
    height: 2em;
  }
  .thumbnail {
    height: 140px;
    @media (max-width: $screen-sm) {
      height: 90px;
    }
    @media (max-width: $screen-md) {
      height: 120px;
    }
  }
}

.product, .category {
  text-align: center;
}
.card {
  .thumbnail {
    background-size: cover;
    overflow: hidden;
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    outline: none;
    transition: all .3s ease;
    border: none;
    margin: 0;
    padding: 5px 0 0;
    img {
      display: inline-block;
      max-width: 100%;
      margin: 0 auto;
      height: 100%;
      width: auto;
    }

  }
  .caption {
    padding: 9px 0;
  }
}