.category {
  padding: 0 15px 5px;
  margin-bottom: 20px;
  &-title {
    height: 2em;
  }
  figure {
    height: 140px;
    width: 135px;
    @media (max-width: $screen-sm) {
      height: 90px;
      width: 90px;
    }
    @media (max-width: $screen-md) {
      height: 120px;
      width: 115px;
    }
  }
}

/*
 * Product
 */
.product {
  margin-bottom: 10px;
  border-radius: 4px;
  position: relative;
  a {
    color: $colorblack;
    font-size: 1.6rem;
    &:hover {
      color: $colorgreen;
      text-decoration: underline;
    }
  }
  figure {
    height: 170px;
    width: 218px;
    @media (max-width: $screen-sm) {
      height: 109px;
      width: 140px;
    }
    @media (max-width: $screen-md) {
      height: 141px;
      width: 180px;
    }
  }
  &-title {
    height: 3.6em;
  }
  &-panel {
    background-color: $colorgray;
    padding: 5px 0;
    border-radius: 4px;
  }
  &-price {
    min-width: 60px;
    font-size: 1.8rem;
    text-align: left;
  }
  input {
    width: 60px;
  }
  &:hover {
    box-shadow: 0 1px 5px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  }
}

.product, .category {
  text-align: center;
}
.card {
  figure {
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
  }
  .image {
    width: 100%;
    text-align: center;
    line-height: 140px;
    padding: 15px;
    @media (max-width: $screen-sm) {
      margin-bottom: 20px;
      height: 100px;
    }
    @media (max-width: $screen-md) {
      margin-bottom: 20px;
      height: 140px;
    }
  }
  .thumbnail {
    border: none;
    margin-bottom: 0;
  }
  .caption {
    padding: 9px 0;
  }
}