.profile {
  &-nav {
    ul {
      list-style: none;
      li {
        & > a {
          padding: 8px 15px;
          color: $black-2;
        }
      }
      li.active {
        a {
          color: $black-2;
          background-color: $gray-2;
          &:hover {
            background-color: $gray-2;
          }
        }
      }
    }
  }
  &-edit {
    .item {
      padding-top: 15px;
      padding-bottom: 15px;
      border-top: 1px solid #ccc;
    }
    .item:last-child {
      border-bottom: 1px solid #ccc;
    }
  }
}