/*
* Custom
*/
@import "bootstrap";
@import "awesom/font-awesome";
@import "variable";
@import "header";
@import "footer";
@import "home";
@import "form";
@import "join";
@import "tabs";
@import "profile";
@import "sidebar";
@import "category";

body {
  background: #fff;
}
.container {
  min-width: 320px;
}
.page-container {
  h1 {
    margin-top: 0;
  }
}
.breadcrumb {
  background-color: transparent;
}