.schedule {
  &__list {
    .item {
      @include shadow();
      padding: 10px;
      text-align: center;
      font-weight: bold;
      background-color: white;
      &-day {
        font-size: 18px;
        padding: 5px 0 10px;
        border-bottom: 1px solid $gray-2;
      }
      &-date {
        text-align: center;
        color: $black-4;
        padding: 5px 0 10px;
      }
      &-timebox {
        &:first-child {
          border-right: 1px solid $gray-1;
        }
      }
      &-time {
        font-size: 16px;
      }
      &-status {
        span {
          font-size: 12px;
        }
        &-limit {
          color: $black-4;
          font-weight: normal;
        }
      }
      .free {
        color: $green-1;
      }
      .busy {
        color: $red-1;
      }
      &.free {
        border-left: 3px solid $green-1;
      }
      &.busy {
        border-left: 3px solid $red-1;
      }
    }
  }
}