.footer {
  margin-top: 40px;
  border-top: 40px solid $color-navbar-dark;;
  padding-top: 30px;
  background-color: $color-navbar;
  color: white;
  &-title {

    line-height: 2;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
  }
  a {
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
    &:hover {
      text-decoration: none;
      border-bottom-style: solid;
      color: white;
    }
  }
  &-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        padding: 5px 0;
    }
  }
  &-phone {
    font-size: 28px;
    padding-top: 16px;
  }
  &-hours {

  }
  &-subscribe-text {
    margin-top: 10px;
  }
  .input-group-addon {
    padding: 0;
  }
  .form {
    padding: 0;
  }
  &__bottom {
    padding: 15px 0;
    margin-top: 30px;
    background-color: 3px solid $color-navbar;
    background-color: $color-navbar-dark;
  }
}
.subscribe__btn {
  height: 32px;
}