.manager-toolbar {
  background-color: white;
  margin-bottom: 20px;
}
.manager-toolbar-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 60px;
  align-content: space-around;
}
.manager-date input {
  margin-top: 5px;
}

.filter-key {
  border-bottom: 15px solid #eff0f0 !important;
}
.filter-key .btn, .js-print{
  margin-top: 10px;
}

.filter__item .btn  {
  width: 100%;
}
.order-item:hover td {
  background-color: #efefef;
  cursor: pointer;
}
.order-item:hover a {
  text-decoration: underline;
}

.date-picker {
  position: relative;
}

.js-clear {
  height: 16px;
  width: 16px;
  position: absolute;
  border-radius: 50%;
  background-color: #c3c3c3;
  z-index: 3;
  color: white;
  top: 9px;
  font-size: 12px;
  text-align: center;
}
.js-clear:hover {
  cursor: pointer;
  background-color: #a4a4a4;
}
.js-clear.before {
  left: calc(50% - 26px);
}
.js-clear.after {
  right: 3px;
}
