.manager-toolbar {
  background-color: white;
  margin-bottom: 20px;
}
.manager-toolbar-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 60px;
  align-content: space-around;
}
.manager-date input {
  margin-top: 5px;
}

.filter-key {
  border-bottom: 15px solid #eff0f0 !important;
}
.filter-key .btn, .js-print{
  margin-top: 10px;
}

.filter__item .btn  {
  width: 100%;
}
