.form {
  input {
    background: #ffffff;
    font-weight: 300;
    padding: 0 1.67rem;
    border: none;
    width: 100%;
    color: #2d2d2d;
  }
  .btn {
    width: 100%;
  }
}
.btn-join, input {
  height: 4.2rem;
  line-height: 2.1em;
}
.btn-join {
  background: #e78e2c;
  font-weight: 700;
  outline: none;
  border: none;
  color: #fff;
  &:hover, &:focus {
    background: #d17c2a;
    color: #fff;
  }
}