.home {
    background: #67b1cc, url(../img/re.jsx.jpeg) no-repeat center bottom;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    &-title {
        font-size: 3.33em;
        text-transform: uppercase;
    }
    .btn {
        box-shadow: 4px 6px 5px 0px rgba(50, 50, 50, 0.75);
        padding-left: 40px;
        padding-right: 40px;
    }
}
.overlay {
    padding-top: 150px;
    padding-bottom: 150px;
}