.review {
  padding: 0;
  &-title {
    a {
      color: $black-2;
      padding-left: 15px;
      font-size: 26px;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__item {
    border: 1px solid $gray-1;
    padding: 15px;
    margin-bottom: 10px;
    &-author {
      font-size: 22px;
      line-height: 26px;
    }
    &-date {
      color: $black-3;
      font-size: 13px;
    }
  }
  &__add {
    &-btn {
      margin-bottom: 10px;
    }
  }
}