.catalog {
  & > a {
    background-color: $cgreen;
    color: $white-1 !important;
    width: 250px;
  }
  .items {
    @include shadow();
    list-style: none;
    display: none;
    padding: 10px 15px;
    position: absolute;
    height: auto;
    width: 280px;
    background-color: white;
    z-index: 5;
    top: 57px;
    li {
      padding: 0;
      a {
        &:hover {
          background: transparent;
          color: $black-1;
        }
      }
      & > a {

        display: block;
        font-size: 14px;
        font-weight: normal;
        text-decoration: none;
        background-color: $white-1;
        color: $black-3;
      }
      & > ul {
        list-style: none;
        padding-left: 30px;
        li {
          a {
            font-weight: normal;
            padding: 0;
          }
        }
      }
    }
  }
  &:hover {
    .items {
      display: block;
    }
  }
}