.filter {
  background: white;
  h3 {
    text-align: center;
    border: 1px solid $gray-2;
    padding: 10px;
    margin-bottom: 0;
  }
  &__item {
    border: 1px solid $gray-1;
    border-top: none;
    padding: 10px;
    &-title {
      font-size: 16px;
    }
    &-prop {
      max-height: 12em;
      overflow: auto !important;
      max-width: 250px;
    }
  }

  &-loader {
    position: absolute;
    right: 35px;
    width: 30px;
    height: 30px;
    background: url(../img/loader-32x/loader.gif) center no-repeat $gray-3;
    z-index: 555;
    margin-top: -2px;
    opacity: 0;
  }

  &-apply-btn {
    cursor: pointer;
    display: none;
    height: 30px;
    line-height: 27px;
    padding: 0;
    position: absolute;
    right: -100px;
    text-align: center;
    top: 0;
    width: 110px;
    z-index: 100;
    transition: scale 0.3s 0.1s;
  }

  .slider-range {
    &:after {
      content: '';
      position: absolute;
      height: 1px;
      border: 1px solid $gray-1;
      width: 100%;
      top: 3px;
    }
  }
  // UI
  .ui-widget {
    &-header {
      border: 1px solid $green-2;
      margin-top: 3px;
    }
    &-content {
      border: 1px solid $gray-1;
    }
  }
  .ui-slider {
    position: relative;
    text-align: left;
    height: 10px;
    border: none;
    &-range {
      position: absolute;
      z-index: 1;
      font-size: .7em;
      display: block;
      background-position: 0 0;
    }
    &-handle {
      border-radius: 50%;
      position: absolute;
      z-index: 2;
      width: 1.2em;
      height: 1.2em;
      cursor: default;
      touch-action: none;
      margin-left: -.6em;
    }
  }
  .ui-state {
    &-default {
      margin-top: -5px;
      border: 2px solid $green-2;
      background: #fff;
      transition: scale 0.3s 0.1s;
    }
    &-active {
      transform: scale(1.2);
    }
    &-focus {
      outline: none;
    }
  }
  // END UI
}

.range-controls {
  padding: 10px 0 20px 0;
  display: flex;
  input {
    width: 45% !important;
    display: inline-block;
    height: 30px;
  }
  span {
    padding: 0 5px;
  }

}

.btn-apply, .btn-close, .btn-refresh{
  width: 100%;
  margin-top: 10px;
}

@media (min-width: $screen-xs-max) {
  .qp-collapse {
    animation-duration: 0.5s;
    display: block !important;
    &.closed, &.shown {
      animation-name: bounceInDown;
    }
  }
  .qp-collapse-arrow {
    display: none;
  }
}
@media (max-width: $screen-xs-max) {
  .filter {
    padding: 0;
    &-apply-btn {
      display: none !important;
    }
  }
  .qp-collapse {
    padding: 0;
    animation-duration: 0.5s;
    display: none;
    &.fixed {
      position: absolute;
      z-index: 3;
      right: 15px;
      left: 15px;
      background-color: $white-1;
    }
    &.shown {
      z-index: 3;
      display: block;
      animation-name: bounceInDown;
    }
    &.closed {
      display: block;
      animation-name: bounceOutUp;
    }
    &-handler {
      cursor: pointer;
      .arrow {
        cursor: pointer;
        float: right;
        margin-right: 15px;
        &:before, &:after {
          background: $black-2;
          content: '';
          margin-top: -1px;
          display: inline-block;
          height: 2px;
          width: 10px;
          transition: all 0.3s 0.1s;
          position: relative;
          top: -5px;
        }
        &:before {
          transform: rotate(45deg);
          right: -4px;
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
      &.activated {
        .arrow {
          &:before {
            transform: rotate(-45deg);
          }
          &:after {
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}
