.product {
  &__params {
    h3 {

    }
    &-list {
      list-style: none;
      padding: 0;
      .item {
        padding: 10px 15px;
        border-bottom: 2px solid $gray-3;
        text-indent: 0;
        &:first-child {
          border-top: 2px solid $gray-3;
        }
        &-key {
          min-width: 100px;
          width: 40%;
          color: $black-4;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 12px;
        }
        &-value {
          font-size: 18px;
          color: $black-1;
          width: 60%;
        }
        &-key, &-value {
          display: inline-block;
        }
      }
    }
  }
  &__table {
    .table {
      &, th, td {
        border: none;
      }
      tr {
        background-color: $white-1 !important;
        border-bottom: 1px solid $gray-2;
      }
    }
    .remove {
      font-size: 2rem;
    }
    .cell {
      &-img {
        text-align: center;
        vertical-align: top;
        overflow: hidden;
        width: 120px;
        height: 90px;
      }
      &-price {
        float: right;
        text-align: right;
        margin: 0 0 5px 20px;
      }
      &-action {
        width: 10px;
        padding-top: 3px;
        padding-right: 0;
        text-align: center;
      }
    }
  }
}